@mixin max-width($value) {
  @media screen and (max-width: $value) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin text-limited($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin font-styled($font-size, $font-weight, $line-height) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin icon-styled($width, $height) {
  @include width-height($width, $height);
  @include flex-center;
  border-radius: 50%;
  border: none;
  outline: none;
}

@mixin avatar-styled($width, $height) {
  @include width-height($width, $height);
  border-radius: 50%;
}

@mixin label-styled(
  $font-size,
  $font-weight,
  $line-height,
  $color,
  $bg,
  $radius
) {
  @include flex-center;
  @include font-styled(
    $font-size,
    $font-weight,
    $line-height,
    $color,
    $pdx,
    $pdy
  );
  background: $bg;
  border-radius: $radius;
  padding: $pdx $pdy;
}

@mixin table-styled() {
}
