<div class="doctor-wrapper">
  <div class="doctor-heading mb-3">
    <h4 class="doctor-heading__title">Doctors</h4>
    <a class="doctor-heading__button btn" (click)="goToAdd()">
      <i class="bi bi-plus-lg"></i>
      <span>Add Doctor</span>
    </a>
  </div>

  <div class="doctor-content">
    <div class="row gy-3" *ngIf="!isShow">
      <div
        class="col-12 col-md-3"
        *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]"
      >
        <div class="doctor-content__card placeholder-glow">
          <div class="doctor-content__avatar placeholder"></div>
          <div class="doctor-content__heading">
            <h5 class="heading-name">
              <span class="placeholder col-7"></span>
            </h5>
            <span class="heading-desc placeholder col-9"></span>
            <span class="heading-position placeholder col-5"></span>
          </div>
          <div class="doctor-content__footer">
            <span class="heading-phone placeholder col-10"></span>
            <span class="heading-email placeholder col-10"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row gy-3" *ngIf="isShow">
      <div
        class="col-12 col-md-3"
        *ngFor="
          let item of items | paginate: { itemsPerPage: 8, currentPage: p }
        "
      >
        <div class="doctor-content__card">
          <img
            [src]="item.avt"
            alt="photo"
            onerror="this.onerror=null;this.src='./assets/images/avt.svg';"
            class="doctor-content__avatar"
          />
          <div class="doctor-content__heading">
            <h5 class="heading-name">{{ item.name }}</h5>
            <span class="heading-desc">{{ item.address }}</span>
            <span class="heading-position">{{ item.position }}</span>
          </div>
          <div class="doctor-content__footer">
            <span class="heading-phone">Phone: {{ item.phone }}</span>
            <span class="heading-email">Email: {{ item.email }}</span>
          </div>
          <div class="doctor-content__action dropdown">
            <button
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-three-dots"></i>
            </button>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownMenuButton1"
            >
              <li>
                <a class="dropdown-item" (click)="open(content, item)">Edit</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="removeDoctor(item.id)"
                  >Remove</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <pagination-controls
        (pageChange)="p = $event"
        class="d-flex justify-content-end"
      ></pagination-controls>
    </div>
  </div>
</div>
<ng-template #content>
  <app-doctor-modify
    (closeModal$)="close(content)"
    [item]="selected"
    (reload$)="reload()"
  ></app-doctor-modify>
</ng-template>
