<div class="dashboard-table">
  <div class="row g-4">
    <div class="col-12 col-md-8">
      <div class="dashboard-table__left">
        <table class="table caption-top">
          <caption>
            Appointment Patients List
          </caption>
          <thead>
            <tr>
              <th>No</th>
              <th>Patients Name</th>
              <th>Date of admit</th>
              <th>Disease</th>
              <th>Room No</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="dashboard-table__right">
        <table class="table caption-top table-borderless">
          <caption>
            Top Doctor List
          </caption>
          <thead>
            <tr>
              <th>Doctor Name</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
