.appointment-wrapper {
  .appointment-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
      margin: 0;
      color: $color-14;
      @include font-styled(18px, 500, 22px);
    }
    &__action {
      display: flex;
      align-items: center;
      gap: 10px;
      & button {
        @include font-styled(14px, 400, 17px);
        color: $color-18;
        padding: 13px 15px;
        border-radius: 8px;
        &:last-child {
          background: $color-1;
          color: $color-13;
        }
      }
    }
  }
  .appointment-table {
    border-radius: 8px;
    & table {
      width: 100%;
      & > :not(:first-child) {
        border-top: 0;
      }
      & thead th {
        height: 60px;
        vertical-align: middle;
        color: #5f6868;
        @include font-styled(16px, 500, 19px);
      }
      & tbody th,
      & tbody td {
        height: 60px;
        vertical-align: middle;
        color: #737b7b;
        @include font-styled(13px, 500, 16px);
        & img {
          background-position: center;
          background-repeat: no-repeat;
          @include avatar-styled(40px, 40px);
        }
        & .btn-edit,
        & .btn-user,
        & .btn-remove {
          @include icon-styled(30px, 30px);
          display: inline-flex;
          margin-right: 10px;
          color: $color-1;
        }
        & .btn-remove {
          color: $color-10;
        }
      }
    }
    .table-label {
      @include font-styled(12px, 400, 15px);
      @include label-styled;
    }
  }
}

#appointmentForm {
  @include font-styled(14px, 400, 17px);
  & input {
    @include font-styled(14px, 400, 30px);
  }
}
