.call-nav {
  &__heading {
    display: flex;
    align-items: center;
    gap: 20px;
    & button {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #333333;
      padding: 0;
      border: none;
      outline: none;
      background: transparent;
    }
  }
}

.call-list {
  padding: 0;
  .call-item {
    padding: 10px 8px;
  }
  .call-link {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    &__icon {
      @include width-height(40px, 40px);
    }
    &__content {
      .content__title {
        @include font-styled(14px, 500, 17px);
        margin-bottom: 8px;
        color: #3b5180;
      }
      .content__desc {
        display: flex;
        align-items: flex-start;
        gap: 12px;
        color: #999faf;
        @include font-styled(12px, 500, 15px);
        & i {
          color: #3b5180;
        }
      }
      .content__notification {
        padding: 0;
        & li {
          margin-bottom: 8px;
        }
      }
      .content-time {
        @include font-styled(12px, 500, 15px);
        color: #3a537b;
      }
    }
  }
}

.call-profile {
  &__heading {
    display: flex;
    align-items: center;
    gap: 12px;
    & img {
      @include width-height(54px, 54px);
      border-radius: 50px;
    }
    & span:first-child {
      display: block;
      margin-bottom: 10px;
      @include font-styled(24px, 500, 29px);
      color: #444546;
    }
    & span:last-child {
      display: block;
      @include font-styled(16px, 500, 19px);
      color: #77787b;
    }
  }
  &__body {
    & img {
      width: 100%;
    }
  }
  &__chat {
    min-height: 284px;
    background-color: $color-13;
    border-radius: 8px;
    padding: 30px;
    .chat-title {
      @include font-styled(16px, 600, 24px);
      color: #454545;
    }
    .chat-input {
      bottom: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      &__wrapper {
        height: 54px;
        border: 1px solid $color-border-primary;
        display: flex;
        align-items: center;
        border-radius: 8px;
        padding: 0 20px;
      }
      & i {
        @include width-height(34px, 34px);
        @include flex-center;
        display: inline-flex;
        border-radius: 50%;
        &:hover {
          filter: brightness(90%);
          cursor: pointer;
          background: #d7dce2;
        }
      }
      & > i {
        background: #796eff;
        border-radius: 50%;
        color: $color-13;
      }
      & input {
        border: none;
        outline: none;
        width: 500px;
      }
    }
  }
}
