.doctor-page {
  .doctor-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
      margin: 0;
      color: $color-14;
      @include font-styled(18px, 500, 22px);
    }
    &__button {
      color: $color-13;
      background: $color-1;
      @include flex-center;
      @include font-styled(16px, 500, 19px);
      padding: 13px 15px;
      border-radius: 8px;
      & span {
        margin-left: 10px;
      }
    }
  }
}

.doctor-wrapper {
  .doctor-content {
    &__card {
      background: $color-13;
      border-radius: 8px;
      padding: 30px 24px 20px;
      position: relative;
    }
    &__avatar {
      @include avatar-styled(58px, 58px);
      margin-bottom: 40px;
    }
    &__heading {
      margin-bottom: 40px;
      & .heading-name {
        @include font-styled(24px, 500, 29px);
        @include text-limited(1);
        color: $color-3;
        margin-bottom: 10px;
      }
      & span {
        display: block;
      }
      & .heading-desc {
        @include font-styled(14px, 400, 17px);
        @include text-limited(1);
        color: $color-15;
        margin-bottom: 10px;
      }
      & .heading-position {
        @include font-styled(16px, 500, 19px);
        @include text-limited(1);
        color: $color-16;
      }
    }
    &__footer {
      @include font-styled(14px, 400, 17px);
      color: $color-17;
      & .heading-phone {
        margin-bottom: 15px;
      }
      & .heading-phone,
      & .heading-email {
        display: block;
        @include text-limited(1);
      }
    }
    &__action {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-24px, 15px);
      & button {
        @include icon-styled(30px, 30px);
        background: transparent;
      }
    }
  }
}

.doctor-add {
  &__heading {
    & button {
      color: $color-13;
      background: $color-1;
      @include flex-center;
      @include font-styled(16px, 500, 19px);
      padding: 13px 15px;
      border-radius: 8px;
      & span {
        margin-left: 10px;
      }
    }
  }

  &__form {
    @include font-styled(14px, 400, 17px);
    .preview {
      padding: 50px 0;
      img {
        @include width-height(100px, 100px);
      }
    }
  }
}
