<div class="dashboard-box mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="dashboard-card">
          <div class="dashboard-card__icon box-1">
            <i class="bi bi-calendar3"></i>
          </div>
          <div class="dashboard-card__content">
            <h5 class="dashboard-cart__counter">500</h5>
            <span class="dashboard-card__name">Appointments</span>
          </div>

          <div class="dashboard-card__button dropdown">
            <button
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-three-dots"></i>
            </button>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownMenuButton1"
            >
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3">
        <div class="dashboard-card">
          <div class="dashboard-card__icon box-2">
            <i class="bi bi-scissors"></i>
          </div>
          <div class="dashboard-card__content">
            <h5 class="dashboard-cart__counter">104</h5>
            <span class="dashboard-card__name">Operations</span>
          </div>

          <div class="dashboard-card__button dropdown">
            <button
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-three-dots"></i>
            </button>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownMenuButton1"
            >
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3">
        <div class="dashboard-card">
          <div class="dashboard-card__icon box-3">
            <i class="bi bi-segmented-nav"></i>
          </div>
          <div class="dashboard-card__content">
            <h5 class="dashboard-cart__counter">150</h5>
            <span class="dashboard-card__name">New Patients</span>
          </div>

          <div class="dashboard-card__button dropdown">
            <button
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-three-dots"></i>
            </button>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownMenuButton1"
            >
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3">
        <div class="dashboard-card">
          <div class="dashboard-card__icon box-4">
            <i class="bi bi-currency-dollar"></i>
          </div>
          <div class="dashboard-card__content">
            <h5 class="dashboard-cart__counter">$20,500</h5>
            <span class="dashboard-card__name">Earning</span>
          </div>

          <div class="dashboard-card__button dropdown">
            <button
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-three-dots"></i>
            </button>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownMenuButton1"
            >
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
