<div class="call-profle">
  <div class="call-profile__heading mb-3">
    <img src="./assets/images/user.svg" alt="" class="call-link__icon" />
    <div>
      <span>Miker Jordar</span>
      <span>Online</span>
    </div>
  </div>
  <div class="call-profile__body mb-3">
    <img src="./assets/images/video.png" alt="" />
  </div>
  <div class="call-profile__chat position-relative">
    <h5 class="chat-title">Chat</h5>
    <div class="chat-content"></div>
    <div class="chat-input position-absolute">
      <div class="chat-input__wrapper">
        <i class="bi bi-emoji-smile"></i>
        <input type="text" />
        <i class="bi bi-paperclip me-2"></i>
        <i class="bi bi-mic"></i>
      </div>
      <i class="bi bi-send"></i>
    </div>
  </div>
</div>
