<div class="call-nav">
  <div class="call-nav__heading mb-3">
    <div class="dropdown">
      <button
        class="dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Calls
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <div class="text-muted">Profile</div>
  </div>

  <ul class="call-list">
    <li class="call-item bg-light rounded-2 mb-2">
      <a href="" class="call-link">
        <img src="./assets/images/user.svg" alt="" class="call-link__icon" />
        <div class="call-link__content">
          <h5 class="content__title">You 7: 30pm</h5>
          <div class="content__desc">
            <i class="bi bi-telephone-outbound"></i>
            <ul class="content__notification">
              <li>This call has ended</li>
            </ul>
          </div>
        </div>
      </a>
    </li>

    <li class="call-item rounded-2 mb-2">
      <a href="" class="call-link">
        <img src="./assets/images/user.svg" alt="" class="call-link__icon" />
        <div class="call-link__content">
          <h5 class="content__title">You 7: 30pm</h5>
          <div class="content__desc">
            <i class="bi bi-telephone-outbound"></i>
            <ul class="content__notification">
              <li>This call has ended</li>
              <li>This call has ended</li>
            </ul>
          </div>
          <span class="content-time">November 02, 2019</span>
        </div>
      </a>
    </li>

    <li class="call-item rounded-2 mb-2">
      <a href="" class="call-link">
        <img src="./assets/images/user.svg" alt="" class="call-link__icon" />
        <div class="call-link__content">
          <h5 class="content__title">You 7: 30pm</h5>
          <div class="content__desc">
            <i class="bi bi-telephone-outbound"></i>
            <ul class="content__notification">
              <li>This call has ended</li>
            </ul>
          </div>
        </div>
      </a>
    </li>

    <li class="call-item rounded-2 mb-2">
      <a href="" class="call-link">
        <img src="./assets/images/user.svg" alt="" class="call-link__icon" />
        <div class="call-link__content">
          <h5 class="content__title">You 7: 30pm</h5>
          <div class="content__desc">
            <i class="bi bi-telephone-outbound"></i>
            <ul class="content__notification">
              <li>This call has ended</li>
            </ul>
          </div>
        </div>
      </a>
    </li>

    <li class="call-item rounded-2 mb-2">
      <a href="" class="call-link">
        <img src="./assets/images/user.svg" alt="" class="call-link__icon" />
        <div class="call-link__content">
          <h5 class="content__title">You 7: 30pm</h5>
          <div class="content__desc">
            <i class="bi bi-telephone-outbound"></i>
            <ul class="content__notification">
              <li>This call has ended</li>
            </ul>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
