<div class="call-nav">
  <div class="call-nav__heading mb-3">
    <div class="dropdown">
      <button
        class="dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Calls
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <div class="text-muted">Profile</div>
  </div>

  <ul class="call-nav__list">
    <li class="call-item">
      <a class="call-item__link">
        <img src="./assets/images/user.svg" alt="" class="call-nav__icon" />
        <div class="call-item__content">
          <h5 class="content-heading">You 7: 30pm</h5>
          <div class="content-desc">
            <div class="content-desc__icon">
              <i class="bi bi-telephone-outbound"></i>
            </div>
            <div class="content-desc__list">
              <li>This call has ended</li>
              <li>Duration: 20 min 35 sec</li>
            </div>
          </div>
          <span>November 02, 2019</span>
        </div>
      </a>
    </li>
  </ul>
</div>
