<div class="appointment-wrapper">
  <div class="container-fluid">
    <div class="appointment-heading mb-3">
      <h4 class="appointment-heading__title">Upcoming Appointments</h4>
      <div class="appointment-heading__action">
        <div class="dropdown">
          <button
            class="btn btn-light dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            All Statuses
          </button>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="dropdownMenuButton1"
          >
            <li>
              <a class="dropdown-item" (click)="filterStatus('')"
                >Select status</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="filterStatus(true)"
                >Start Appointment</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="filterStatus(false)"
                >Canceled</a
              >
            </li>
          </ul>
        </div>

        <div class="dropdown">
          <button
            class="btn btn-light dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            All Cabinets
          </button>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="dropdownMenuButton1"
          >
            <li><a class="dropdown-item">Canceled</a></li>
            <li><a class="dropdown-item">Start Appointment</a></li>
          </ul>
        </div>

        <button type="button" class="btn" (click)="addNew(content)">
          New Appointment
        </button>
      </div>
    </div>

    <div class="appointment-table">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="bg-light">
              <tr>
                <th scope="col">Patient</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Gender</th>
                <th scope="col">Phone number</th>
                <th scope="col">Action</th>
                <th scope="col">Appointment</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let item of filter.length != 0
                    ? (filter | paginate: { itemsPerPage: 8, currentPage: p })
                    : (items | paginate: { itemsPerPage: 8, currentPage: p })
                "
              >
                <td>
                  <img
                    [src]="item.avatar"
                    onerror="this.src='./assets/images/error.png'"
                    alt=""
                  />
                  {{ item.name }}
                </td>
                <td>{{ item.date | date: "H:mm" }}</td>
                <td>{{ item.date | date: "d MMMM y" }}</td>
                <td>{{ item.gender }}</td>
                <td>888-452-420</td>
                <td>
                  <button
                    class="btn btn-edit"
                    (click)="open(content, item, false)"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <button
                    class="btn btn-user"
                    (click)="open(content, item, true)"
                  >
                    <i class="bi bi-person"></i>
                  </button>
                  <button class="btn btn-remove" (click)="deleteItem(item.id)">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
                <td>
                  <span
                    class="table-label"
                    [attr.data-status]="item.isAppointment"
                    >{{ convertLabel(item.isAppointment) }}</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <pagination-controls
        (pageChange)="p = $event"
        class="d-flex justify-content-end"
      ></pagination-controls>
    </div>
  </div>
</div>
<ng-template #content>
  <app-appointment-modify
    (closeModal$)="close(content)"
    (reload$)="reload()"
    [item]="selected"
    [readonly]="readonly"
    [isAdd]="isAdd"
  ></app-appointment-modify>
</ng-template>

<!-- *ngFor="
                let item of filter 
                  | paginate: { itemsPerPage: 8, currentPage: p }
              " -->
