<div class="department-table">
  <div class="container-fluid">
    <div class="table-responsive">
      <table class="table caption-top">
        <caption>
          <div class="d-flex align-items-center justify-content-between">
            <span>Department List</span>
            <button class="btn btn-primary" (click)="openModal('add', item)">
              Add Department
            </button>
          </div>
        </caption>
        <thead>
          <tr>
            <th scope="col">Department Name</th>
            <th scope="col">Doctor</th>
            <th scope="col">Gender</th>
            <th scope="col">Head Of Department</th>
            <th scope="col">Action</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of items | paginate: { itemsPerPage: 8, currentPage: p };
              index as idx
            "
          >
            <th>{{ item.name }}</th>
            <td>
              <img
                [src]="item.doctorAvatar"
                onerror="this.src='./assets/images/error.png'"
                alt="photo"
              />
              <span>{{ item.doctorName }}</span>
            </td>
            <td>{{ item.gender }}</td>
            <td>{{ item.manager }}</td>
            <td>
              <button class="btn btn-edit" (click)="openModal('edit', item)">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button class="btn btn-user" (click)="openModal('view', item)">
                <i class="bi bi-person"></i>
              </button>
              <button class="btn btn-remove" (click)="delete(item.id)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
            <td>
              <span class="table-label" [attr.data-status]="item.status">
                {{ convertLabel(item.status) }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row mt-4">
      <pagination-controls
        (pageChange)="p = $event"
        class="d-flex justify-content-end"
      ></pagination-controls>
    </div>
  </div>
</div>
