<div class="appointment-list mt-3">
  <div class="container-fluid p-0">
    <div class="table-responsive">
      <table class="appointment-table table">
        <thead>
          <tr>
            <th scope="col">Patient</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Gender</th>
            <th scope="col">Phone number</th>
            <th scope="col">Action</th>
            <th scope="col">Appointment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of [1, 2, 3, 4, 5]">
            <td>
              <img src="../../../../assets/images/table.png" alt="" />
              killan James
            </td>
            <td>09:00</td>
            <td>28 May 2021</td>
            <td>Male</td>
            <td>888-452-420</td>
            <td>
              <div class="appointment-table__action">
                <button>
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button>
                  <i class="bi bi-person-fill"></i>
                </button>
                <button>
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </td>
            <td>Start Appointment</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
