<div class="doctor-modify">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Update doctor</h5>
    <button
      type="button"
      class="btn-close btn"
      aria-label="Close"
      (click)="close()"
    ></button>
  </div>
  <div class="modal-body">
    <form
      autocomplete="off"
      id="doctorForm"
      [formGroup]="doctorForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="mb-4 row">
        <label [for]="controlNames.name" class="col-sm-3 col-form-label"
          >Name</label
        >
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            [id]="controlNames.name"
            [innerMsg]="msg"
            [formControlName]="controlNames.name"
          />
        </div>
      </div>

      <div class="mb-4 row">
        <label [for]="controlNames.address" class="col-sm-3 col-form-label"
          >Address</label
        >
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            [id]="controlNames.address"
            [innerMsg]="msg"
            [formControlName]="controlNames.address"
          />
        </div>
      </div>

      <div class="mb-4 row">
        <label [for]="controlNames.position" class="col-sm-3 col-form-label"
          >Position</label
        >
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            [id]="controlNames.position"
            [innerMsg]="msg"
            [formControlName]="controlNames.position"
          />
        </div>
      </div>

      <div class="mb-4 row">
        <label [for]="controlNames.phone" class="col-sm-3 col-form-label"
          >Phone</label
        >
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            [id]="controlNames.phone"
            [innerMsg]="msg"
            [formControlName]="controlNames.phone"
          />
        </div>
      </div>

      <div class="mb-4 row">
        <label [for]="controlNames.email" class="col-sm-3 col-form-label"
          >Email</label
        >
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            [id]="controlNames.email"
            [innerMsg]="msg"
            [formControlName]="controlNames.email"
          />
        </div>
      </div>

      <div class="mb-4 row">
        <label [for]="avt" class="col-sm-3 col-form-label">Avatar</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="file"
            [id]="avt"
            [name]="avt"
            accept="image/*"
            (change)="selectFile($event)"
            hidden
          />
          <label [for]="avt">
            <img class="img-preview" [src]="avt" alt="Update photo" />
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
      (click)="close()"
    >
      Close
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      form="doctorForm"
      [disabled]="!this.doctorForm.valid"
    >
      Update
    </button>
  </div>
</div>
