@mixin max-width($value) {
  @media screen and (max-width: $value) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin text-limited($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin font-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #303032;
}

@mixin button-style {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #717171;
  @include flex-center;
  padding: 12px 16px;
  border-radius: 8px;
}

@mixin button-icon {
  @include width-height(30px, 30px);
  @include flex-center;
  border: none;
  outline: none;
}
