$menu-max-width: 260px;
$menu-min-width: 60px;
$navbar-height: 90px;

$color-1: #8146ff;
$color-2: #ff447c;
$color-3: #61677f;
$color-4: #f26e6e;
$color-5: #56c456;
$color-6: #f26e6e;
$color-7: #3b5180;
$color-8: #579aff;
$color-9: #db48ff;
$color-10: #f25f64;
$color-11: #f2ad62;
$color-12: #f6f7fb;
$color-13: #ffffff;

$background-menu-light: #ffffff;
$background-body-light: #e5e5e5;

$background-menu-dark: #293a58;
$background-body-dark: #1f2d47;

$color-border-primary: #f0f1f6;
$color-border-secondary: #cdcfd4;
$color-logo: #0b1f3d;
$color-dots: #ff447c;

$box-color-1: #579aff;
$box-color-2: #8146ff;
$box-color-3: #db48ff;
$box-color-4: #ff447c;
