<div class="dashboard-table">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="table-wrapper">
          <table class="table caption-top">
            <caption>
              Appointment Patients List
            </caption>
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Patients Name</th>
                <th scope="col">Date of admit</th>
                <th scope="col">Disease</th>
                <th scope="col">Room No</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of patients | slice: 0:5; index as idx">
                <th scope="row">{{ idx + 1 }}</th>
                <td>
                  <img
                    [src]="item.avatar"
                    alt=""
                    style="width: 40px; height: 40px"
                    class="me-2"
                  />
                  {{ item.name }}
                </td>
                <td>{{ item.date | date: "d MMM y" }}</td>
                <td>{{ item.disease }}</td>
                <td>{{ item.room }}</td>
                <td>
                  <div class="dropdown">
                    <button
                      class="btn"
                      type="button"
                      id="dropdownMenuButton1"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="bi bi-three-dots"></i>
                    </button>
                    <ul
                      class="dropdown-menu dropdown-menu-end"
                      aria-labelledby="dropdownMenuButton1"
                    >
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li>
                        <a class="dropdown-item" href="#">Another action</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          >Something else here</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="table-wrapper">
          <table
            class="table table-borderless caption-top"
            style="align-self: stretch"
          >
            <caption>
              Top Doctor List
            </caption>
            <thead>
              <tr>
                <th style="background: transparent" scope="col">Doctor Name</th>
                <th style="background: transparent" scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of doctors | slice: 0:5">
                <td>
                  <img
                    [src]="item.avt"
                    alt=""
                    style="width: 40px; height: 40px"
                    class="me-2"
                  />
                  {{ item.name }}
                </td>
                <td>
                  <span class="table-label" [attr.data-status]="item.status">{{
                    convertLabel(item.status)
                  }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
