<nav class="navbar">
  <form autocomplete="off">
    <div class="navbar-form">
      <label class="navbar-form__search" for="search">
        <i class="bi bi-search"></i>
      </label>
      <input
        class="navbar-form__input"
        type="text"
        placeholder="Search..."
        id="search"
      />
      <!-- <i class="bi bi-x"></i> -->
    </div>
  </form>
  <div class="navbar-action">
    <div class="navbar-action__notification dropdown">
      <button
        type="button"
        id="notification"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="bi bi-bell-fill"></i>
      </button>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="notification"
      >
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <div class="navbar-action__user dropdown">
      <button
        class="dropdown-toggle"
        type="button"
        id="user"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img src="./assets/images/user.svg" alt="" />
        <span>Mekko</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
